extends ./layouts/index

block contenido
     main.container.mt-5
          .row
               .col-md-5
                    img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
               .col-md-7
                    h1 #{pagina}
                    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus eros ac mauris euismod, vitae convallis sem eleifend. Integer imperdiet, lacus eu commodo aliquet, mi est mollis sapien, non finibus mi nibh vitae augue. Aliquam vitae sollicitudin risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In quis bibendum erat.

                    p Phasellus diam est, efficitur a est vehicula, iaculis volutpat orci. Proin nec aliquet lorem. Suspendisse nec lorem eu nisi tempor tempus a vitae mi. Integer et lorem non purus luctus dapibus at eu erat. Maecenas sagittis vel neque non efficitur. Nulla lorem diam, ullamcorper sed sapien et, gravida lobortis ipsum. Maecenas accumsan arcu at rhoncus ornare.

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rhoncus eros ac mauris euismod, vitae convallis sem eleifend. Integer imperdiet, lacus eu commodo aliquet, mi est mollis sapien, non finibus mi nibh vitae augue. Aliquam vitae sollicitudin risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.

     .listado-iconos
          .container.mt-5.py-5.text-center
               .row
                    .col-md-4
                         img(src="img/icono_seguridad.svg", alt="Iconos Seguridad", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, quidem adipisci neque repudiandae dignissimos ab earum voluptatem soluta culpa non nemo aliquam est harum labore corrupti deserunt? Quibusdam, aliquid debitis.
                    .col-md-4
                         img(src="img/icono_destinos.svg", alt="Iconos Destinos", class="img-fluid mb-4")
                         h2.mb-4 Mejores Destino
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, quidem adipisci neque repudiandae dignissimos ab earum voluptatem soluta culpa non nemo aliquam est harum labore corrupti deserunt? Quibusdam, aliquid debitis.
                    .col-md-4
                         img(src="img/icono_precios.svg", alt="Iconos Precios", class="img-fluid mb-4")
                         h2.mb-4 Los Mejores Precios
                         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, quidem adipisci neque repudiandae dignissimos ab earum voluptatem soluta culpa non nemo aliquam est harum labore corrupti deserunt? Quibusdam, aliquid debitis.
